aws-google-auth==0.0.36
awscli==1.18.182
beautifulsoup4==4.9.3
boto3==1.16.22
botocore==1.19.22
Brotli==1.0.9
certifi==2020.11.8
cffi==1.14.3
chardet==3.0.4
Click==7.0
colorama==0.4.3
configparser==5.0.1
cryptography==3.2.1
dash==2.3.0
dash-core-components==2.0.0
dash-html-components==2.0.0
dash-table==5.0.0
docutils==0.15.2
entrypoints==0.3
filelock==3.0.12
Flask==1.1.1
Flask-Compress==1.11
hidapi==0.7.99.post21
idna==2.10
itsdangerous==1.1.0
jeepney==0.6.0
Jinja2==2.11.1
jmespath==0.10.0
keyring==21.5.0
keyrings.alt==4.0.1
lxml==4.6.1
MarkupSafe==1.1.1
more-itertools==8.0.2
numpy==1.19.5
pandas==1.1.5
Pillow==8.0.1
plotly==5.6.0
pyasn1==0.4.8
pycparser==2.20
python-dateutil==2.8.1
python-u2flib-host==3.0.3
pytz==2020.4
PyYAML==5.3.1
requests==2.25.0
rsa==4.5
s3transfer==0.3.3
SecretStorage==3.2.0
six==1.15.0
soupsieve==2.0.1
tabulate==0.8.7
tenacity==8.0.1
typing_extensions==4.1.1
tzlocal==2.1
urllib3==1.26.2
Werkzeug==1.0.0
zipp==3.4.0
